.idea/
.ipynb_checkpoints/
__pycache__/
ExplainableBoostingClassifierExample/
geckodriver.log
nrl_stats_test.db
out
python_web_scraping_pointsbet.ipynb
mlruns
mlruns_archived
mlruns_artifacts
nrl_config.ini
nrl_stats.db
nrl_stats
airflow/logs/
NRL_data_wrangling+analysis.ipynb
NRL_data_wrangling.ipynb
run_nrl_model_winners.sh
run_nrl_models.sh
predict_nrl_scores.py
predict_nrl_scores_regression.py
err
config.ini
calculate_probs.py
nrl_games
nrl_odds
nrl_odds_scraping.py
get_next_games.py
predict_nrl_winners_test.py
airflow/logs/
airflow/airflow.db
airflow/airflow/
airflow/airflow.db-journal
airflow/airflow-webserver.pid
airflow/airflow.cfg
airflow/unittests.cfg

